
<div class="row">
  <div class="col-xs-6 col-md-4">
  </div>
  <div class="col-xs-6 col-md-4">

    <h3>New word</h3>
    <%= render 'form' %>
    <%= link_to 'Back', words_path %>
  </div>
  <div class="col-xs-6 col-md-4"></div>
</div>
